// --app-expander-header-background-color
// --app-expander-border-color
// --app-expander-shadow-color
// --app-expander-animation-duration

  // --expander-primary: #6b45bf;
  // --expander-primary-light: color-mix(in srgb, var(--expander-primary) 15%, white);
  // --expander-border-color: color-mix(in srgb, var(--expander-primary) 25%, white);
  // --expander-shadow: color-mix(in srgb, var(--expander-primary) 8%, transparent);

:host {
  --_app-expander-header-background-color: var(--app-expander-header-background-color, lightblue);
  --_app-expander-border-color: var(--app-expander-border-color, blue);
  --_app-expander-shadow-color: var(--app-expander-shadow-color, gray);
  --_app-expander-animation-duration: var(--app-expander-animation-duration, 300ms);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'header toggle'
    'content content';
    
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--_app-expander-border-color);
  box-shadow: 0 2px 6px var(--_app-expander-shadow-color);
  background: #fff;
  transition: grid-template-rows var(--_app-expander-animation-duration);

  &.collapsed{
    grid-template-rows: min-content 0fr;
  }


}

.header-area {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background: var(--_app-expander-header-background-color);
  color: var(--expander-primary);
  font-weight: 600;
}

.toggle-area {
  grid-area: toggle;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: var(--_app-expander-header-background-color);
}

.content-area {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
  min-height: 0;

  &.leaves {
    animation: delay var(--_app-expander-animation-duration);
  }
  &.enters {
    animation: delay var(--_app-expander-animation-duration) reverse;
  }
}

@keyframes delay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    padding-block: 0px;
  }
}
